.bg-text {
  font-size: smaller;
}

.signin1 {
  width: 22%;

  height: 300px;
  margin: auto;
}

.fontsize {
  font-size: 12px;
}
.anoh1 {
  height: 35rem;
}
.required:after {
  content: "*";
  color: red;
}
.required1::before {
  content: "*";
  color: red;
}
.showpwd {
  position: absolute;
  margin: 10px 0 0 -45px;
  color: black;
  font-weight: lighter;
  font-size: 13px;
}
.showpwd:hover {
  color: black;
}
#hidepwd {
  display: none;
}

.edit1 {
  color: black;
  margin-left: 40%;
}

.edit1:hover {
  color: black;
}

#getdata {
  margin-top: -5px;
  /* margin-left: -0px; */
}
#heigth {
  height: 50px;
}
.bg-color {
  background-color: black;
  color: white;
}
.btnsignin {
  border-radius: 0px;
  height: 40px;
}
.btnsignin:hover {
  background-color: rgb(73, 68, 68);
  color: white;
}
#email {
  border-radius: 0px;
  height: 40px;
}
.creatname {
  border-radius: 0px;
  height: 40px;
}
#inputpwd {
  border-radius: 0px;
  height: 40px;
}
.textblack {
  color: black;
}
.textblack:hover {
  color: black;
}

.question {
  font-size: 15px;
  color: rgb(112, 102, 102);
}

.rack {
  width: 60px;
  margin: 0px 0px 0px 50px;
}
.nord {
  color: gray;
  margin-top: 22px;
}

.warnin {
  color: #e33e5f;
}
#warn {
  display: none;
}

.pop {
  /* visibility: hidden; */
  display: none;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: absolute;
  width: 350px;
  bottom: 330px;
  background: #fff;
}

p:hover .pop {
  /* visibility: visible; */
  background-color: red;
  display: block;
}
