/* NAVIGATION*/
#mynavbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  /* font-family: 'Roboto', sans-serif; */
}

/* SUB NAVIGATION */
#mynavbarp2 {
  font-weight: 400;
  font-size: smaller;
}
.dropdownNS {
  /* float: left; */
  overflow: hidden;
}
.dropdownNS:hover .btn {
  border-bottom: 1.5px solid black;
}
.megaContent {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1;
}
.dropdownNS:hover .megaContent {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.megaColumn {
  /* float: left; */
  width: 100%;
  /* height: 90vh; */
  background-color: #fff;
}
.megaColumn a:hover {
  border-bottom: 1.5px solid black;
  font-weight: 500;
}
.fs-h1 {
  font-size: 14px;
}

/* SECOND ROW (FOR PRODUCTS) */
#blockelem {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

#items {
  color: gray;
  font-size: 10px;
  padding-top: 5px;
}

.fontsize2 {
  font-size: 12px;
}

.margin {
  margin-top: 100px;
  margin: auto;
}

.margin {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  border: 1px solid black;
  margin: auto;
  width: 60%;
  margin-top: 50px;
}

/*PRODUCT IMAGE */
.productimage {
  width: 75%;
}

/* PRODUCT BRAND */
.productbrand {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
}

/* PRODUCT NAME */
.productname {
  padding-top: 0px;
  padding-left: 10px;
  margin-bottom: 0px;
}

/* PRODUCT COST */
.productcost {
  padding-top: 5px;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 10px;
}

/* CARTBAG AND DELETE */
.bagAnddel {
  display: flex;
  padding: 10px;
  /* justify-content: space-between; */
  margin-top: 0px;
  padding-top: 0px;
}

/* PRODUCT CARTBAG */
.bag {
  width: 80px;
  height: 30px;
  background-color: black;
  color: white;
  border: 0px;
}

/* DELETE BUTTON */
.deltebtn {
  background-color: white;
  border: 0px;
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 1rem;
}

/* FOOTER */
footer {
  background-color: #f9f9f9;
}
footer ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
