#blockelem {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

/* b {
  padding-left: 10px;
} */
/* #box1 {
  display: flex;
} */
/* #btndel {
  display: flex;
  justify-content: space-between;
  margin-left: -5px;
} */
#wholediv {
  margin: auto;
  width: 65%;
  display: flex;
}
#wholediv > div {
  border: black;
}
#items {
  color: gray;
  font-size: 10px;
  padding-top: 5px;
}

.fontsize2 {
  font-size: 12px;
}
#rightnav {
  margin-top: 50px;
  position: fixed;
  top: 0px;
  overflow-x: hidden;
}

.margin {
  margin-top: 100px;
  margin: auto;
}

.margin {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  border: 1px solid black;
  margin: auto;
  width: 60%;
  margin-top: 100px;
}

/* PRODUCT IMAGE */
.productimage {
  width: 100%;
}

/* PRODUCT BRAND */
.productbrand {
  padding-top: 10px;
}

/* PRODUCT NAME */
.productname {
  padding-top: 0px;
  margin-bottom: 0px;
}

/* PRODUCT COST */
.productcost {
  padding-top: 5px;
  font-weight: bold;
  margin-bottom: 2px;
}

/* DELETE BUTTON */
.deltebtn {
  background-color: white;
  border: 0px;
  padding-top: 0px;
  margin-top: 0px;
}
img{
  width: 100%;
}